version: '3'

services:
  db:
    image: 'postgres:13'
    container_name: db
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
    ports:
      - '5432:5432'